body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.wrapper > * {
    grid-column: col-start / span 12;
}

.nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav .site-logo {
    grid-column: col-start / 8;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.nav ul li {
    display: block;
    padding: 5px 20px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 1.25rem;
}

#add-todo-form {
    display: flex;
    flex-wrap: wrap;
}

#add-todo-form > * {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#add-todo-form label {
    font-size: 1.25rem;
    margin-bottom: 5px;
    text-align: center;
}

.form-wrapper {
    padding: 15px;
    border: 1px solid;
    border-radius: 15px;
}

.form-element {
    margin: 15px 0;
}

.form-element input, textarea, select {
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 0.875rem;
    border: 1px solid;
}

.form-element textarea {
    min-height: 100px;
    border-radius: 15px;

}










@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
    .side {
        grid-column: col-start / span 3;
        grid-row: 3;
    }
    .content,
    .main-footer {
        grid-column: col-start 4 / span 9;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
    .main-nav {
        grid-column: col-start / span 12;
        grid-row: 1;
    }
    .content {
        grid-column: col-start / 8;
    }
    .side {
        grid-column: col-start 8 / span 4;
        grid-row: 2;
    }
    .main-footer {
        grid-column: col-start / span 12;
    }
    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
    .main-nav {
        grid-column: col-start / span 12;
        grid-row: 1;
    }
    .content {
        grid-column: col-start / 8;
    }
    .side {
        grid-column: col-start 8 / span 4;
        grid-row: 2;
    }
    .main-footer {
        grid-column: col-start / span 12;
    }
    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
    .main-nav {
        grid-column: col-start / span 12;
        grid-row: 1;
    }
    .content {
        grid-column: col-start / 8;
    }
    .side {
        grid-column: col-start 8 / span 4;
        grid-row: 2;
    }
    .main-footer {
        grid-column: col-start / span 12;
    }
    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 1400px) {
    .wrapper {
        max-width: 1320px;
    }
    .main-nav {
        grid-column: col-start / span 12;
        grid-row: 1;
    }
    .content {
        grid-column: col-start / 9;
    }
    .side {
        grid-column: col-start 9 / span 4;
        grid-row: 2;
    }
    .main-footer {
        grid-column: col-start / span 12;
    }
    nav ul {
        flex-direction: column;
    }
}